* {
    font-size: 9pt !important;
    border-radius: 0px !important;
}
/* Containers */

body, html {
    background: #eef2ff url(s.4cdn.org/image/fade-blue.png) top center repeat-x !important;
    color: #000 !important;
}
table {
    background-color: #D6DAF0 !important;
    border: 1px solid #B7C4D9 !important;
}
#boardlist {
    background-color: #D6DAF0 !important;
    border: 1px solid #B7C4D9 !important;
}
/* Text, Links, Clickables */
p {
    color:#000 !important;
}
font[color="red"] {
    color: #789922 !important;
}
font[color="lawngreen"] > b {
    color: #117743 !important;
}
a {
    color: #34345C !important;
}
a:hover {
    color: #d00 !important;
}
font[color="lawngreen"] > b > a {
    color: #22CC54 !important;
}
button {
    color: #000 !important;
    border-color: rgb(199, 203, 225) rgb(199, 203, 225) rgb(184, 188, 210) !important;
    background: linear-gradient(#E5E9FF, #D6DAF0) repeat scroll 0% 0% transparent !important;
}
.yellow {
    color:#0F0C5D !important;
}
/*Other*/
.bgImage {
    background: none !important;
}
hr {
    display: none !important;
}
textarea, input {
    box-sizing: inherit !important;
}