textarea, input {
    resize: none;
    width: 100%;
}
html, body {
    margin:0;
    padding:0;
}
body {
    margin-left:12%;
}
img {
    max-width: 100%;
}
#preview {
    z-index: 1;
    position: fixed;
    display: inline;
}
.replyWindow {
    display: none; 
    position: fixed;
    z-index: 1;
    overflow: auto;
}
.registerWindow {
    display: none; 
    position: fixed;
    z-index: 1;
}
.close {
    float: right;
}
.bgImage {
    text-align: center;
    }
.hidevideo  { display:none; }
.showvideo  { display:block; }
.boardName {
    display:inline-block;
    overflow: hidden;
}
.form {
    display:inline-block;
    overflow: hidden;
}
.boardlist {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 10%;
    height:100%;
}
.post {
    display: inline-block;
    overflow: hidden;
    max-width: 99%;
}



