a {
    cursor:pointer;
}
p {
    margin: 5px;
    font-family: Helvetica;
    font-size: 10pt;
}
textarea, input {
    resize: none;
    width: 100%;
}
html, body {
    margin:0;
    padding:0;
}
body {
    margin-left:12%;
}
button {
  cursor: pointer;
}

img {
    max-width: 100%;
    cursor: pointer;
}
#preview {
    z-index: 1;
    position: fixed;
    display: inline-table;
    float: left;
}
.replyWindow {
    display: none; 
    position: fixed;
    z-index: 1;
    overflow: auto;
}
#dropDown {
    display: none; 
    position: fixed;
    z-index: 1;
    overflow: auto;
}
.registerWindow {
    display: none; 
    position: fixed;
    z-index: 1;
}
.close {
    float: right;
    font-weight: bold;
}
.close:hover, .close:focus {
    text-decoration: none;
    cursor: pointer;
}
.loadingPicture { filter: grayscale(100%); }
.linksToReplies { font-size: 8pt; }
.boards {
    text-align: center;
    font-weight: bold;
    width: 90%;
    height:30px;
    line-height: 30px;
    overflow: hidden;
}
.modBtn {
    margin: 2px;
    text-align: center;
    font-weight: bold;
    width: 200px;
    height:30px;
    line-height: 30px;
    border-radius: 5px;
    overflow: hidden;
}
.modInput {
    margin: 2px;
    text-align: center;
    width: 200px;
    height:30px;
    line-height: 30px;
    overflow: hidden;
}

#boardName {
    font-size: 40px;
    text-align: center;
}

.form {
    font-size: 10pt;
    display:inline-block;
    overflow: hidden;
}

.smallUrl {
    max-height: 170px;
    max-width: 170px;
}

.bigUrl {
    max-height: 100%;
    max-width: 100%;
}


#boardlist {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 10%;
    height:100%;
    line-height: 30px;
    overflow: auto;
    background-size: 100%;
}

#footer {
    text-align: center;
}
.post {
    font-size: 10pt;
    display: inline-block;
    margin: 5px;
    margin-bottom: 0px;
    max-width: 99%;
    word-break: break-word;
}
.op {
    border: none;
}
#login, #showLogin, #loggedIn {
    text-align: center;
    width:150px;
    position: absolute;
    z-index: 1;
    display: inline-block;
    margin-top: 20px;
    right: 20px;
}

#searchForm {
    text-align: center;
    width:150px;
    position: absolute;
    z-index: 1;
    display: inline-block;
    margin-top: 20px;
    left: 13%;
}

.pageButton {
    height:30px;
    width:30px;

}

.catalog {
    margin: 5px;
    padding: 5px;
    vertical-align:text-top;
    display: inline-block;
    text-align: center;
    height:300px;
    width:14%;
    overflow: hidden;
}

.santahat {
    height: 40px;
    width: 50px;
    z-index: 999;
    position: absolute;
    left:130px;
}
.code {
    font-family: Courier, "Lucida Console", monospace;
}
.bgImage {
    text-align: center;
}