a {
    cursor:pointer;
    text-decoration: none;
    color: #2dbc29;
}
p {
    margin: 5px;
    /*font-family: Courier, "Lucida Console", monospace;*/
    font-family: Helvetica;
    font-size: 10pt;
    color: lightblue;
}
textarea, input {
    resize: none;
    width: 100%;
}
html, body {
    margin:0;
    padding:0;
    background-color:#070c14;
}
body {
    margin-left:12%;
}
button {
  color: lightblue;
  background-color: #004899;
  cursor: pointer;
  border: none;
}
hr {
    border-color: #004899;
}
img {
    max-width: 100%;
    cursor: pointer;
}
#preview {
    z-index: 1;
    position: fixed;
    display: inline-table;
    border: 1px solid #004899;
    float: left;
}
.replyWindow {
    display: none; 
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color:#17202a;
    border: 1px solid #004899;
}
#dropDown {
    display: none; 
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color:#17202a;
    border: 1px solid #004899;
}
.registerWindow {
    display: none; 
    position: fixed;
    z-index: 1;
}
.close {
    color: #aaaaaa;
    float: right;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.bgImage {
    background-attachment: fixed;
    background-image: url("/bg.jpg");
    background-repeat: repeat-x;
    background-size: 100%;
    text-align: center;
    }
.loadingPicture { filter: grayscale(100%); }
.subject    { color: yellow; }
.info       { color: grey; }
.redtext    { color: red; }
.adminLogo  { color: purple; }
.modLogo    { color: red; }
.userLogo   { color: orange; }
.userName   { color: #2dbc29; }
.topSpacing { height: 40px; }
.hidevideo  { display:none; }
.showvideo  { display:block; }
.arrow      { color: #004899; }
.redArrow   { color: red; }
.linksToReplies { font-size: 8pt; }
.boards {
    text-align: center;
    font-weight: bold;
    width: 90%;
    height:30px;
    line-height: 30px;
    color: #2dbc29;
    background-color:#070c14;
    border: 1px solid #004899;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}
.boards:hover {
    color: lightblue;
    background-color: #004899;
}

.modBtn {
    margin: 2px;
    text-align: center;
    font-weight: bold;
    width: 200px;
    height:30px;
    line-height: 30px;
    color: #2dbc29;
    background-color:#070c14;
    border: 1px solid #004899;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}
.modBtn:hover {
    color: lightblue;
    background-color: #004899;
}
.modInput {
    margin: 2px;
    text-align: center;
    width: 200px;
    height:30px;
    line-height: 30px;
    overflow: hidden;
}

#boardName {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px 8px black;
}

.form {
    background-color:#17202a;
    font-size: 10pt;
    display:inline-block;
    overflow: hidden;
}

@keyframes glowing {
  0% { filter: brightness(50%); }
  40% { filter: brightness(100%); }
  60% { filter: brightness(100%); }
  100% { filter: brightness(50%); }
}

@keyframes shine {
  0% { filter: brightness(300%); }
  40% { filter: brightness(100%); }
  60% { filter: brightness(100%); }
  100% { filter: brightness(300%); }
}

#boardlist_background {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 10%;
    height:100%;
    background-color:#070c14; 
    background-image: url("/boardlist_background.jpg");
    background-size: 100%;
}

.smallUrl {
    max-height: 170px;
    max-width: 170px;
}

.bigUrl {
    max-height: 100%;
    max-width: 100%;
}


#boardlist {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 10%;
    height:100%;
    
    line-height: 30px;
    overflow: auto;
    background-size: 100%;
}
#boardlist_background {
    animation: glowing 5000ms infinite;
}

.nameGlow {
    animation: shine 2000ms infinite;
}

#footer {
    text-align: center;
}
.post {
    background-color:#17202a;
    font-size: 10pt;

    display: inline-block;
    margin: 5px;
    margin-bottom: 0px;
    max-width: 99%;
    word-break: break-word;
}
.op {
    background-color:#070c14;
    border: none;
}
#login, #showLogin, #loggedIn {
    text-align: center;
    width:150px;
    position: absolute;
    z-index: 1;
    display: inline-block;
    margin-top: 20px;
    right: 20px;
}

#searchForm {
    text-align: center;
    width:150px;
    position: absolute;
    z-index: 1;
    display: inline-block;
    margin-top: 20px;
    left: 13%;
}

.pageButton {
    height:30px;
    width:30px;
    color: #2dbc29;
    background-color:#17202a;

}
.pageButton:hover {
    background-color:#004899;

}
.catalog {
    margin: 5px;
    padding: 5px;
    vertical-align:text-top;
    display: inline-block;
    text-align: center;
    height:300px;
    width:14%;
    color: #2dbc29;
    overflow: hidden;
}
.catalog:hover {
    background-color:#17202a;
}
.spoiler {
    color: black;
    background-color: black;
}
.spoiler:hover {
    color: inherit;
    background-color: inherit;
}
.santahat {
    height: 40px;
    width: 50px;
    z-index: 999;
    position: absolute;
    left:130px;
}
.code {
    font-family: Courier, "Lucida Console", monospace;
    background-color: white;
    color: black;
}


/* Written by Desu#9179 on Discord, and the-soulless on github*/ 

html {
    color: #000;
    background-color: #FFF;
}

a {
    color: #00F;
    text-decoration: underline;
}

p {
    color: #000;
}

button {
    border: 1px solid #000;
}

hr {
    color: #000;
}

#preview {
    border: 1px solid #000;
}

.close {
    color: #000;
}
.close:hover, .close:focus {
    color: #F00;
}

.bgImage {
    background: #FFF;
}

.subject { color: #000; }
.info    { color: #000; }
.redtext { color: #F00; }
.adminLogo { color: #F0F; }
.modLogo {  color: #F00; }
.userName { color: #000; font-weight:bold; }
.topSpacing { height: 40px; }
.arrow { color: #000; }
.redArrow { color: #F00; }

.boards {
    color: #00F;
    text-decoration: underline;
    border: 1px solid #000;
}

.catalog:hover {
    background: #777;
}

.modBtn {
    color: #00F;
    border: 1px solid #000;
}

#boardlist_background {
    background: #FFF;
}
#boardlist {
    border-right: 1px solid #000;
}

.post {
    border: 1px solid #000;
}
.op {
    border: 1px solid #000;
}

#login, #showLogin, #loggedIn {
    border: 1px solid #000;
    color: #000;
    background: #FFF;
}

#searchForm {
    color: #000;
    background: #FFF;
}

#showForm {
    border: 1px solid #000;
    color: #000;
    background: #FFF;
}

button {
    border: 1px solid #000;
    color: #000;
    background: #FFF;
}

input {
    border: 1px solid #000;
    color: #000;
    background: #FFF;
}

.banner {
    display: none;
}

.pageButton {
    background-color: #FFF;
    color: #000;
    border: 1px solid #000;
}   
