a {
    cursor:pointer;
    text-decoration: none;
    color: darkgreen;
}
p {
    margin: 5px;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    color: #232323;
}
textarea, input {
    resize: none;
    width: 100%;
}
html, body {
    margin:0;
    padding:0;
    background-color: #f9f9f9;
}
body {
    margin-left: 12%;
}
button {
  color: white;
  background-color: #24a020;
  cursor: pointer;
  border: none;
  border-radius: 15px;
}
img {
    max-width: 100%;
    cursor: pointer;
    border-radius: 10px;
}
#preview {
    z-index: 1;
    position: fixed;
    display: inline;
    border: 1px solid #d3d3d3;
}
.replyWindow {
    display: none; 
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color:#f4f4f4;
    border: 1px solid #d3d3d3;
}
.registerWindow {
    display: none; 
    position: fixed;
    z-index: 1;
    border: 1px solid #d3d3d3;
}
.close {
    color: #aaaaaa;
    float: right;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.bgImage {

    text-align: center;
    }
.subject    { color: darkred; }
.info       { color: black; }
.redtext    { color: red; }
.adminLogo  { color: purple; }
.modLogo    { color: red; }
.userLogo   { color: orange; }
.userName   { color: darkgreen; }
.topSpacing { height: 40px; }
.hidevideo  { display:none; }
.showvideo  { display:block; }
.arrow      { color: #004899; }
.linksToReplies { font-size: 8pt; }
.boards      {
    width: 90%;
    height:30px;
    line-height: 30px;
    text-align: left;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    color: white;
}
.boards:hover {
    background-color: #24a020;
}
#boardName {
    font-size: 10pt;
    display:inline-block;
    overflow: hidden;
}
.form {
    background-color:#f4f4f4;
    font-size: 10pt;
    display:inline-block;
    overflow: hidden;
    border: 1px solid #d3d3d3;
}
#boardlist {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 10%;
    height:100%;
    background-color:#3a3a3a; 
    line-height: 15px;
    overflow: auto;
}
#footer {
    text-align: center;
}
.post {
    background-color:#f4f4f4;
    font-size: 10pt;
    border-collapse: separate;
    display: inline-block;
    margin: 5px;
    margin-bottom: 0px;
    overflow: hidden;
    max-width: 99%;
    border-right: 1px solid #b2c8e0;
    border-bottom: 1px solid #b2c8e0;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    /*max-height: 1500px;*/
}
.op {
    background-color: inherit;
    border: none;
}
.banner {
    border-radius: 0px;
    border: 1px solid #d3d3d3;
}

