a {
    cursor:pointer;
    text-decoration: none;
    color: darkblue;
}
p {
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    color: black;
}
textarea, input {
    resize: none;
    width: 100%;
}
html, body {
    margin:0;
    padding:0;
    background-color: #eff3f8;
}
body {
    margin-left:12%;
}
button {
  color: white;
  background-color: #004899;
  cursor: pointer;
  border: none;
}
img {
    max-width: 100%;
    cursor: pointer;
}
#preview {
    z-index: 1;
    position: fixed;
    display: inline;
    border: 1px solid #004899;
}
.replyWindow {
    display: none; 
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color:#ccdaea;
    border: 1px solid #004899;
}
.registerWindow {
    display: none; 
    position: fixed;
    z-index: 1;
}
.close {
    color: #aaaaaa;
    float: right;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.bgImage {
    /*background: url("https://cdn.theatlantic.com/assets/media/img/mt/2016/03/RTX283V4/lead_960.jpg?1457553386");
    background-repeat: repeat-x;*/
    text-align: center;
    }
.subject    { color: darkred; }
.info       { color: black; }
.redtext    { color: red; }
.adminLogo  { color: purple; }
.modLogo    { color: red; }
.userLogo   { color: orange; }
.userName   { color: darkgreen; }
.topSpacing { height: 40px; }
.hidevideo  { display:none; }
.showvideo  { display:block; }
.arrow      { color: #004899; }
.linksToReplies { font-size: 8pt; }
.boardName {
    font-size: 10pt;
    display:inline-block;
    overflow: hidden;
}
.form {
    background-color:#ccdaea;
    font-size: 10pt;
    display:inline-block;
    overflow: hidden;
}
.boardlist {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 10%;
    height:100%;
    background-color:#ccdaea; 
}
.post {
    background-color:#ccdaea;
    font-size: 10pt;
    border-collapse: separate;
    display: inline-block;
    margin: 5px;
    margin-bottom: 0px;
    overflow: hidden;
    max-width: 99%;
    border-right: 1px solid #b2c8e0;
    border-bottom: 1px solid #b2c8e0;
}
.op {
    background-color: lightgreen;
}


