* {
    border-radius: 0px !important;
}

/* Containers */
html {
    background-color: #ddd !important;
}

body {
    background-color: #eee !important;
    color: #333 !important;
}

table {
    background-color: #ddd !important;
    border: 1px solid #ccc !important;
}

#boardlist {
    background-color: rgba(221,221,221,0.98) !important;
}

.bgImage {
    background: none !important;
}

/* Text, Links, Clickables etc */

p {
    color: #333 !important;
}

a {
    color: #f60 !important;
    text-decoration: none !important;
}

a:hover {
    color: #f30 !important;
    text-decoration: underline !important;
}

font[color="red"] {
    color: #789922 !important;
}

font[color="lawngreen"] {
    color: #004A99 !important;
}

.yellow {
    color: #111 !important;
}

button {
   border-color: rgb(206, 206, 206) rgb(206, 206, 206) rgb(191, 191, 191) !important;
   background: linear-gradient(#ECECEC, #DDD) repeat scroll 0% 0% transparent !important;
   color: #f60 !important;
}

button:hover {
    color: #f30 !important;
}
font[color="white"] {
    color: #f60 !important;
}
/* Other */

hr {
    visibility: hidden !important;
}

textarea, input {
    box-sizing: inherit !important;
}