a {
	color: #485C4d;
	text-decoration: none;
}

p {
	color: #95bab1;
}

html, body {
	background-color: #00161d;
	color: #95bab1;
	background-image: url("images/stalenhag_background.jpg");
	/*background-repeat: repeat-y !important;
	background-position-y: top;
	background-position-x: center;*/
        background-size: cover;
	background-attachment: fixed;
}

button {
	color: #164947;
	background-color: #00161d;
	border: 1px solid #25645b;
}

hr {
	border-color: #25645b;
}

.replyWindow {
	background-color: #00161d;
	border: 1px solid #25645b;
}

.close {
	color: #FF000;
}

.bgImage {
/*	background-image: url("https://a.doko.moe/eruufu.jpg");
	background-repeat: repeat-y !important;
	background-position-y: top;
	background-position-x: center;*/
	background: inherit;
}

.subject   { color: #164947; }
.info      { color: #68827b; }
.redtext   { color: #305b68; }
.adminLogo { color: #305b68; }
.modLogo   { color: #25465b; }
.userLogo  { color: #27534d; }
.userName  { color: #27534d; }
.arrow     { color: #485c4d; }
.redArrow  { color: #305b68; }

.boards {
	color: #385c4d;
	background-color: #00161d;
	border: 1px solid #25645b;
}

.boards:hover {
	color: #385c4d;
	background-color: #00161d;
}

.modBtn {
	color: #485c4d;
	background-color: #00161d;
	border: 1px solid #25645b;
}

.modBtn:hover {
	color: #485c4d;
	background-color: #00161d;
}

.modInput {
	color: #95bab1;
	background: #00161d;
	border: 1px solid #25645b;
}

#boardName {
	text-shadow: 2px 2px 8px #00161d !important;
}

.form {
	color: #95bab1;
	background: #00161d;
	border: 1px solid #25645b;
}

#boardlist{
	background: rgba(0, 22, 29, 0.8);
}

.post {
	background: rgba(0, 22, 29, 0.5);
	color: #95bab1;
}

.lastPosts {
	background: rgba(0, 22, 29, 0.5);
	color: #95bab1;
}

.pageButton {
	background-color: #00161d;
	color: #95bab1;
}

.catalog {
	background: rgba(0, 22, 29, 0.5);
	color: #95bab1;
}

* {
	font-family: "Iosevka", "Ubuntu Mono", "monospace", "arial" !important;
	/*font-size: 9 !important;*/
}
