*
{
    border-radius:0px !important;
    font-family: arial,helvetica,sans-serif !important;
    font-size:10pt !important;
}

/*Containers*/

body
{
    background-color:#1d1f21 !important;
    color:#c5c8c6 !important;
}

table
{
    display:table !important;
    background-color:#282a2e!important;
    border-color:#282a2e!important;
    padding: 2px!important;
}

/*Text and elements*/

a 
{
    color:#81a2be !important;
}

a:hover
{
    color: #5f89ac!important;
}

p
{
    color:#c5c8c6 !important;
}

font[color="red"]
{
    color:#b5bd68 !important;
}
font[color="lawngreen"]
{
    color:#c5c8c6 !important;
}                                          
.yellow
{
    color:#b294bb !important;
}
p[style="font-size:30px"]
{
    text-shadow: 1px 1px 1px rgba(167,170,168,0.6) !important;
    font-size:28px !important;
    font-weight:400 !important    
}
/*Other */

button, input
{
    border-color: rgb(25, 27, 31) rgb(25, 27, 31) rgb(10, 12, 16) !important;
    background: linear-gradient(#37393D, #282A2E) repeat scroll 0% 0% transparent !important;
    color:#c5c8c6 !important;
    height:inherit;

}

button:hover
{
    background: #282A2E !important;
}
body > div.bgImage > center > table
{
    border-color: rgb(25, 27, 31) rgb(25, 27, 31) rgb(10, 12, 16) !important;
    background: linear-gradient(#37393D, #282A2E) repeat scroll 0% 0% transparent !important;
}
hr
{
    border:0;
	border-top:#282a2e!important;
    height:0!important;
    display:block!important;
    border-width: 1px!important;
}
#boardlist
{
    background-color: rgba(40,42,46,0.9) !important;
    box-shadow: 0 1px -2px rgba(0, 0, 0, .15) !important;
    border-top-width: 1px !important;
    padding: 1px 2px 2px !important;
    font-size:12px !important;
}

.bgImage
{
    background:#1d1f21 !important;
}
textarea {
    background-color: rgb(26, 27, 29) !important;
    color: rgb(197,200,198) !important;
    border-color: rgb(40, 41, 42) !important;
    box-sizing:inherit !important;
}