a {
    cursor:pointer;
    text-decoration: none;
    color: #000080;
}
p {
    margin: 5px;
    /*font-family: Courier, "Lucida Console", monospace;*/
    font-family: Helvetica;
    font-size: 10pt;
    color: black;
}
textarea, input {
    resize: none;
    width: 100%;
}
html, body {
    margin:0;
    padding:0;
    background: #008080; 
}
body {
    margin-left:12%;
}
button {
  color: black;
  background-color: #c0c0c0;
  cursor: pointer;
  border: none;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
button:hover {
    color: white;
    background-color: #000080;
}

hr {
    border-color: #c0c0c0;
}
img {
    max-width: 100%;
    cursor: pointer;
    border-top: 2px solid #808080;
    border-left: 2px solid #808080;
    border-right: 2px solid #dfdfdf;
    border-bottom: 2px solid #dfdfdf;
}
#preview {
    z-index: 1;
    position: fixed;
    display: inline-table;
    border: 1px solid #004899;
    float: left;
}
.replyWindow {
    color: #c0c0c0;
    display: none; 
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color:#808080;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
#dropDown {
    display: none; 
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color:#17202a;
    border: 1px solid #004899;
}
.registerWindow {
    display: none; 
    position: fixed;
    z-index: 1;
}
.close {
    color: #aaaaaa;
    float: right;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.bgImage {
    background: #008080;
    text-align: center;
    }
.loadingPicture { filter: grayscale(100%); }
.subject    { color: yellow; }
.info       { color: black; }
.redtext    { color: red; }
.adminLogo  { color: purple; }
.modLogo    { color: red; }
.userLogo   { color: orange; }
.userName   { color: black; }
.topSpacing { height: 40px; }
.hidevideo  { display:none; }
.showvideo  { display:block; }
.arrow      { color: #004899; }
.redArrow   { color: red; }
.linksToReplies { font-size: 8pt; }
.boards {
    text-align: center;
    width: 90%;
    height:30px;
    line-height: 30px;
    color: black;
    background-color:#c0c0c0;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    overflow: hidden;
}
.boards:hover {
    color: white;
    background-color: #000080;
}

.modBtn {
    margin: 2px;
    text-align: center;
    font-weight: bold;
    width: 200px;
    height:30px;
    line-height: 30px;
    color: #2dbc29;
    background-color:#070c14;
    border: 1px solid #004899;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}
.modBtn:hover {
    color: lightblue;
    background-color: #004899;
}
.modInput {
    margin: 2px;
    text-align: center;
    width: 200px;
    height:30px;
    line-height: 30px;
    overflow: hidden;
}

#boardName {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}

.form {
    color: #c0c0c0;
    background-color:#808080;
    font-size: 10pt;
    display:inline-block;
    overflow: hidden;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#boardlist_background {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 10%;
    height:100%;
    background-color:#808080; 
    background-size: 100%;
    border-right: 2px solid black;
}

.smallUrl {
    max-height: 170px;
    max-width: 170px;
}

.bigUrl {
    max-height: 100%;
    max-width: 100%;
}


#boardlist {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 10%;
    height:100%;
    
    line-height: 30px;
    overflow: auto;
    background-size: 100%;
}
#boardlist_background {
    animation: glowing 5000ms infinite;
}

#footer {
    text-align: center;
    background-color:#c0c0c0;
}
.post {
    font-size: 10pt;
    background-color:#c0c0c0;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    display: inline-block;
    margin: 5px;
    margin-bottom: 0px;
    max-width: 99%;
    word-break: break-word;
}
.op {
    background-color:#008080;
    border: none;
}
#login, #showLogin, #loggedIn {
    text-align: center;
    width:150px;
    position: absolute;
    z-index: 1;
    display: inline-block;
    margin-top: 20px;
    right: 20px;
}

#searchForm {
    text-align: center;
    width:150px;
    position: absolute;
    z-index: 1;
    display: inline-block;
    margin-top: 20px;
    left: 13%;
}


.pageButton {
    height:30px;
    width:30px;
    color: black;
    background-color:#c0c0c0;
}
.pageButton:hover {
    color: white;
    background-color:#000080;
}
.catalog {
    margin: 5px;
    padding: 5px;
    vertical-align:text-top;
    display: inline-block;
    text-align: center;
    height:300px;
    width:14%;
    color: #2dbc29;
    overflow: hidden;
}
.catalog:hover {
    background-color:#c0c0c0;
}
.spoiler {
    color: black;
    background-color: black;
}
.spoiler:hover {
    color: inherit;
    background-color: inherit;
}
.santahat {
    height: 40px;
    width: 50px;
    z-index: 999;
    position: absolute;
    left:130px;
}
.code {
    font-family: Courier, "Lucida Console", monospace;
    background-color: white;
    color: black;
}