a {
    cursor:pointer;
    text-decoration: none;
    color: darkblue;
}
p {
    margin: 5px;
    /*font-family: Courier, "Lucida Console", monospace;*/
    font-family: Helvetica;
    font-size: 10pt;
    color: black;
}
textarea, input {
    resize: none;
    width: 100%;
}
html, body {
    margin:0;
    padding:0;
    background-color:white;
}
body {
    margin-left:12%;
}
button {
  color: white;
  background-color: #004899;
  cursor: pointer;
  border: none;
}
hr {
    border-color: black;
}
img {
    max-width: 100%;
    cursor: pointer;
}
#preview {
    z-index: 1;
    position: fixed;
    display: inline-table;
    border: 1px solid black;
    float: left;
}
.replyWindow {
    display: none; 
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color:white;
    border: 1px solid black;
}
.registerWindow {
    display: none; 
    position: fixed;
    z-index: 1;
}
.close {
    color: #aaaaaa;
    float: right;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.bgImage {
    background-attachment: fixed;
    
    background-repeat: repeat-x;
    background-size: 100%;
    text-align: center;
    }
.loadingPicture { filter: grayscale(100%); }
.subject    { color: darkred; }
.info       { color: grey; }
.redtext    { color: red; }
.adminLogo  { color: purple; }
.modLogo    { color: red; }
.userLogo   { color: orange; }
.userName   { color: darkgreen; }
.topSpacing { height: 40px; }
.hidevideo  { display:none; }
.showvideo  { display:block; }
.arrow      { color: #004899; }
.linksToReplies { font-size: 8pt; }
.boards      {
    font-weight: bold;
    width: 90%;
    height:30px;
    line-height: 30px;
    color: black;
    background-color:white;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}
.boards:hover {
    color: white;
    background-color: #004899;
}
#boardName {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;

}
.form {
    background-color:white;
    font-size: 10pt;
    display:inline-block;
    overflow: hidden;

}

@keyframes glowing {
  0% { filter: brightness(50%); }
  40% { filter: brightness(100%); }
  60% { filter: brightness(100%); }
  100% { filter: brightness(50%); }
}

#boardlist_background {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 10%;
    height:100%;
    background-color:white; 
    background-size: 100%;
}

#boardlist {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 10%;
    height:100%;
    
    line-height: 30px;
    overflow: auto;
    background-size: 100%;
}


#footer {
    text-align: center;
}
.post {
    background-color:white;
    font-size: 10pt;
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    margin-bottom: 0px;
    overflow: hidden;
    max-width: 99%;
    
}
.op {
    background-color:white;
    border: none;
}
#login, #showLogin, #loggedIn {
    text-align: center;
    width:150px;
    position: absolute;
    z-index: 1;
    display: inline-block;
    margin-top: 20px;
    right: 20px;
}
.pageButton {
    height:30px;
    width:30px;
    color: black;
    background-color: white;
    border: 1px solid black;

}
.pageButton:hover {
    color: white;
    background-color:#004899;

}
.catalog {
    margin: 5px;
    padding: 5px;
    vertical-align:text-top;
    display: inline-block;
    text-align: center;
    height:300px;
    width:14%;
    color: white;
    overflow: hidden;
}
.catalog:hover {
    background-color:white;
}
.spoiler {
    color: black;
    background-color: black;
}
.spoiler:hover {
    color: inherit;
    background-color: inherit;
}
.santahat {
    height: 80px;
    width: 100px;
    z-index: 999;
    position: absolute;
    left:130px;
}