a {
    cursor:pointer;
    text-decoration: none;
    color: white;
}
p {
    margin: 5px;
    font-family: arial,helvetica,sans-serif;
    color: white;
    font-size: 9pt;
}
table {
    background-color:#2e2e30;
    border-spacing: 1px;
    border-collapse: separate;
    border-radius: 5px;
}
td.pad {
    padding: 0px;
    padding-bottom: 5px;
}
img {
    border-radius: 5px;
}
textarea, input {
   resize: none;
   height: 100%;
}
html, body {
  margin:0;
  padding:0;
  background-color:#e5e5e5;
}
button, .input2 {
  color: lightblue;
  background-color: #004899;
  cursor: pointer;
  border: 0px;
}
hr {
    border-color: purple;
    }
hr {
    display: none !important;
}
textarea, input {
    box-sizing: inherit !important;
}
.preview {
    z-index: 1;
    position: fixed;
    display: inline-table;
    border: 1px solid #888;
    float: left;
}
.replyWindow {
    display: none; 
    position: fixed;
    z-index: 1;
    
    
    overflow: auto;

}
.registerWindow {
    display: none; 
    position: fixed;
    z-index: 1;
}
.hidevideo{
    display:none;
}
.showvideo{
    display:block;
}
.pic {
    max-height:170px;
    max-width:170px;
    height:auto;
    width:auto;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
}
.pic:hover {
      max-height:100%;
      max-width:100%;
      height:auto;
     width:auto;
     transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
}
.close {
    color: #aaaaaa;
    float: right;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.bgImage {
    background: url("bg.jpg");
    background-repeat: repeat-x;
    }
.yellow {
    color: yellow;
}
.grey {
    color: grey;
}
.red {
    color: red;
}
.blue {
    color: #004899;
}
#boardlist {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: #2e2e30 !important;
}
.bgImage {
    background: none !important;
}

.topSpacing { height: 40px; }